@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.containerLogin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4; /* Fondo blanco con opacidad */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.containerInput {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.containerBackground {
  width: 73%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.loginBanner{ 

    font-weight:400;
    color :rgb(255, 102, 0);
    font-size: 35px!important;
}
.containerForm {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-right: 20px;
  margin-left: 25px;
  margin-top: 50px;
}
.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.loginLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 15px 0px;
  font-weight: 700;
}

.loginInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #808080;
  padding: 0px 5px;
}
.loginInput:focus {
  border: 1px solid rgb(255, 102, 0);
  outline: none;
}

.loginButton {
  width: 40%;
  height: 40px;
  font-weight: 700;
  border-radius: 5px;
  font-size: 18px;
  color: #f4f4f4;
  background-color: rgb(255, 102, 0);
  border: none;
  transition: box-shadow 0.3s ease;
}
.loginButton:hover {
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.7);  }

.containerLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.1s;
  user-select: none;
  margin-bottom: 30px;
}
.containerLogo:hover {
  transform: scale(1.01);
}
.containerLogo a {
  text-decoration: none;
}
.containerLogo h1 {
  color: black;
  font-family: "Play", sans-serif;
  font-size: 35px;
}
.containerLogo h1 span {
  font-family: "Play", sans-serif;
  position: relative;
  color: white;
  text-align: center;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.782);
}

.loginBanner {
  font-size: 35px;
}
